<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="GamesHubDB" connectionString="Data Source=DESKTOP-SRDRBBL;Initial Catalog=GamesRentalDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="GamesHub.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-SRDRBBL;Initial Catalog=GamesRentalDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
